@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white font-montserrat text-ebony antialiased;
  }

  ::selection {
    @apply bg-cloud text-ebony;
  }
}

@layer utilities {
  @media (min-width: 1024px) {
    .responsive-scale {
      width: 1700px;
      zoom: clamp(0.47, calc((100vw - 220px) / 1700), 1.38);
    }
  }
}
